.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.navbar-nav {
  width: 100%;
  text-align: center;
}
.navbar-nav > li {
  float: none;
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 1.1px;
  padding: 0 4px;
}
.navbar-nav > li.main-nav-link:nth-child(2) {
  margin-left: -150px;
}
.slider h1 {
  letter-spacing: 1.2px;
  font-weight: 900;
}
.slider ol.carousel-indicators {
  background-color: white;
  margin-bottom: 0;
}
.slider ol.carousel-indicators li:not([class='active']) {
  background-color: #506a85;
}
.slider > div > div {
  padding: 0px;
}
.who-we-are {
  margin: 0 auto 130px;
}
.who-we-are h4 {
  margin-bottom: 20px;
}
.who-we-are span {
  font-size: 54px;
  margin-top: 12.5px;
  color: #00bc9c;
}
.latest-works {
  background-color: #f2f5f7;
}
.latest-works .slider-control {
  padding: 40px 0 120px;
}
.latest-works .slider-control span {
  width: 26px;
  font-size: 18px;
}
.work-with-us button {
  letter-spacing: 1.2px;
}
.slider,
.who-we-are,
.latest-works,
.work-with-us,
footer {
  padding-top: 111px;
}
.main-information {
  font-size: 20px;
  line-height: 1.8em;
  margin-bottom: 64px;
}
footer .main-footer {
  background-color: #2f4052;
  padding: 60px 0 ;
}
footer .main-footer h5 {
  color: #fff;
  padding-bottom: 10px;
}
footer .main-footer .latest-work-footer {
  float: left;
  width: 125px;
  margin: 0 5px 5px 0;
}
footer .main-footer .latest-work-footer img {
  width: 100%;
}
footer .main-footer button,
footer .main-footer button:hover {
  border-color: #2f4052;
}
footer .links-footer {
  background-color: #283645;
  padding: 30px 0;
}
